
<div class="container">
  <div class="row">
    <p class="guide">マイページ</p>
  </div>
    <table>
      <tr>
        <td class="text">登録情報</td>
        <td><%= link_to "編集する",  edit_customers_path, class: "btn btn-success btn-sm" %></td>
      </tr>
    </table>
  <div class="row mt-3">
    <div class="col-md-8">
      <table class="table table-bordered">
        <tr>
          <th>氏名</th>
          <td><%= @customers.first_name + @customers.last_name %></td>
        </tr>
        <tr>
          <th>カナ</th>
          <td><%= @customers.first_name_kana + @customers.last_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @customers.postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customers.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customers.telephone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customers.email %></td>
        </tr>
      </table>
        <table>
          <tr>
            <td class="text mb-2">配送先</td>
            <td><%= link_to "一覧をみる", addresses_path, class: "btn btn-primary btn-sm mb-2" %></td>
          </tr>
          <tr>
            <td class="text">注文履歴</td>
            <td><%= link_to "一覧を見る", orders_path, class: "btn btn-primary btn-sm" %></td>
          </tr>
        </table>
    </div>
  </div>

