<div class="box">
  <div class="box-inner">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h2>ログイン</h2>
  <p class="guide">管理者ログイン</p>
  <div class="box-email">
    <div class="form-group">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="box-password">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="remember_me">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "ログインしたままにする" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン",  class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
  </div>
</div>

<%= render "admin/admins/shared/links" %>
